{% extends "restaurant/base.html" %}
{% block content %}

<div class="p-5">
    <div class="text-right">
        <a href="{%url 'viewCustomer'%}" class="btn btn-primary">View Customers</a>
    </div>
    <form class="user" method="post" action="{%url 'addCustomer'%}">
        {%csrf_token %}
        <div class="form-group">
            <label for="sel1">Select Restaurant (select one):</label>
            <select name="restaurant" class="form-control" id="sel1">
                {%for restaurant_list in restaurant_list %}
                <option value="{{restaurant_list.id}}">{{restaurant_list.name}}</option>
                {%endfor %}
            </select>
        </div>
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-user" name="name"
                    placeholder="Enter Name of Customer">
            </div>

        </div>
        <button type="submit" class="btn btn-facebook btn-user btn-block">Add Customer
        </button>
    </form>
</div>
{% endblock%}