{% extends "restaurant/base.html" %}
{% block content %}
{%load customtags%}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total Customers
                                Served
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_customers_served}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Customers
                                Served Today
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{total_customers_served_today}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Earnings Till
                                Date
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{earnings_till_date}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Total Earnings Today
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{earnings_today}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->

    <div class="row">

        <h1 class="h3 mb-0 text-gray-800">Restaurant Sales Till Now</h1>

        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped" id="dataTable" width="100%"
                cellspacing="0">
                <thead>
                    <tr>
                        <th>Restaurant Name</th>
                        <th>Sales in rupees</th>
                    </tr>
                </thead>

                <tbody>
                    {%for k in res_total.items %}
                    <tr>
                        <td>{{res_total|dict_key:k}} </td>
                        <td>{{key}}:{{value}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>


    <!-- Content Row -->
    <div class="row">

        <h1 class="h3 mb-0 text-gray-800">Best Selling Dishes [Top 10]</h1>

        <div class="table-responsive">
            <table class="table table-bordered table-condensed table-hover table-striped" id="dataTable" width="100%"
                cellspacing="0">
                <thead>
                    <tr>
                        <th>Dish Name</th>
                    </tr>
                </thead>

                <tbody>
                    {%for fooditem_list in fooditem_list%}
                    <tr>
                        <td>{{fooditem_list.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>

</div>

<!-- /.container-fluid -->

</div>

<!-- End of Main Content -->
{%endblock%}
